<div class="bgc-white p-20 bd"><h6 class="c-grey-900">Overview</h6>
    <div class="mT-30">
        <div class="row gap-20">
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Production</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed"><span id="sparklinedash"></span></div>
                            <div class="peer"><span id="prod_perc" class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layer w-100">
                        <div class="peer"><span style="font-size: 8pt;">Since last Month</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">kwh</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed"><span id="sparklinedash2"></span></div>
                            <div class="peer"><span id="kwh_perc" class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 "></span>
                            </div>
                        </div>
                    </div>
                    <div class="layer w-100">
                        <div class="peer"><span style="font-size: 8pt;">Since last Month</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">kvarh</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed"><span id="sparklinedash3"></span></div>
                            <div class="peer"><span id="kvarh_perc" class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layer w-100">
                        <div class="peer"><span style="font-size: 8pt;">Since last Month</span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="layers bd bgc-white p-20">
                    <div class="layer w-100 mB-10"><h6 class="lh-1">Water Consumption</h6></div>
                    <div class="layer w-100">
                        <div class="peers ai-sb fxw-nw">
                            <div class="peer peer-greed"><span id="sparklinedash4"></span></div>
                            <div class="peer"><span id="water_perc" class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15"></span>
                            </div>
                        </div>
                    </div>
                    <div class="layer w-100">
                        <div class="peer"><span style="font-size: 8pt;">Since last Month</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Chart -->
        <div id="chart">
        </div>
    </div>
</div>
<script>
    createChart();
</script>
