<div class="bgc-white bd bdrs-3 p-20 mB-20"><h4 class="c-grey-900 mB-20">Electricity Consumption Reading History</h4>
    <table id="powerDataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Date</th>
            <th>kwh</th>
            <th>kvarh</th>
            <th>Remark</th>
        </tr>
        </thead>
        <tbody id="tableBody ">
        </tbody>
    </table>
</div>
<script>
    var table = $("#powerDataTable").DataTable({
        "order": [[ 1, "desc" ]], //or asc
        "columnDefs" : [{"targets":1, "type":"date-eu"}],
    })
    const fs = require('fs');
    const initSqlJs = require('sql.js');
    const filebuffer = fs.readFileSync(path.join(__dirname,'py/neon.db'));

    var db = null
    var results = []
    const moment = require('moment')

    initSqlJs().then(function(SQL){
        // Load the db
        db = new SQL.Database(filebuffer);
        let res = db.prepare("SELECT * FROM power");
        while(res.step()){
            var row = res.getAsObject();
            var result = [];
            var datestr = new Date(row.year,row.month - 1,row.date)
            result.push(moment(datestr).format("MM/DD/YYYY"));
            result.push(row.kwh);
            result.push(row.kvarh);
            result.push(row.remark);

            results.push(result)

            table.row.add(result);

        }
        table.draw()
    });
</script>
