<div class="bgc-white bd bdrs-3 p-20 mB-20"><h4 class="c-grey-900 mB-20">New Role</h4>
    <div class="card-body">
        <form class="container" onsubmit="saveRole(event)" id="needs-validation" novalidate>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="role_name">Role Name</label>
                        <input type="text" class="form-control" id="role_name" name="role_name" placeholder="Role Name" pattern="[a-zA-Z]" onkeyup="checkIfValid(this.id)" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label" for="description">Description</label>
                        <textarea class="form-control" type="text" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="label" for="permissions">Permissions</label>
                        <div id="permissions">
                            <script>getPrivilages()</script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-right">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
