<form class="container" onsubmit="updateCategory(event)" id="needs-validation-modal" novalidate>
    <div class="row">
        <h1 id="modal_id" hidden></h1>
        <div class="col-md-12">
            <div class="form-group">
                <label for="modal_category">Category Name</label>
                <input type="text" class="form-control" id="modal_category" name="category" placeholder="Category Name" pattern="[a-zA-Z]" onkeyup="checkIfValid(this.id)" required>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col text-right">
            <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </div>
</form>
