<form class="container" id="needs-validation" onsubmit="updateItem(event)" novalidate>
    <div class="row">
        <h1 id="qty" hidden></h1>
        <h1 id="item_id" hidden></h1>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label for="item">Item Name</label>
                    <input type="text" class="form-control" id="item" name="item"
                           placeholder="Item Name" pattern="[A-Za-z0-9- .()]" onkeyup="checkIfValid(this.id)" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group"><label for="type">Item Type</label>
                        <select id="type" name="type" class="form-control" onchange="checkIfSelectIsValid(this.id);showAssignedTo()" required>
                            <option disabled selected>Select Type</option>
                            <option>Inventory</option>
                            <option>Fixed Asset</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" id="rowAssignedTo" hidden>
                <div class="col-md-12 mb-3">
                    <div class="form-group"><label for="assigned_to">Assigned To</label>
                        <select id="assigned_to" name="assigned_to" class="form-control" onchange="checkIfAssignedToValid()" disabled required>
                            <option disabled selected>Select Employee</option>
                            <script>getEmployees("#assigned_to")</script>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group">
                        <label for="category">Category</label>
                        <select id="category" name="category" class="form-control" onchange="checkIfSelectIsValid(this.id)" required>
                            <option disabled selected>Select Category</option>
                            <script>getCategories()</script>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-group"><label for="location">Location</label>
                        <select id="location" name="location" class="form-control" onchange="checkIfSelectIsValid(this.id)" required>
                            <option disabled selected>Select Location</option>
                            <script>getLocations()</script>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="unit_price">Unit Price</label>
                    <input type="text" class="form-control" id="unit_price" name="unit_price" onkeyup="checkIfValid(this.id)"
                           placeholder="Unit Price" pattern="[0-9.]" required>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="unit_measure">Unit Measure</label>
                        <select id="unit_measure" name="unit_measure" class="form-control" onchange="checkIfSelectIsValid(this.id)" required>
                            <option disabled selected>Select Unit</option>
                            <script> getUnits() </script>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" >Update</button>
</form>
